doctype html
html(ng-app="app")
  head
    title Store
    link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/app.css')
    //link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}

    script.
      window.angular || document.write('<script src="vendor/angular/angular.js"><\/script>')

    script(src='vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/javascripts/app-min.js')
  body
    div(class="container")
      div(header)
      block content
      div(footer)
    script(type="text/javascript", src="/javascripts/GoogleAnalytics.js")
