@import './app/stylesheets/_variable';

.store-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: inherit;
}

.store-item {
  flex-basis: 100%;
  position: relative;
  padding: 10px;
}

.load-proces {
  width: 100%;
}

.already-load {
  display: none;
}

.preload-image {
  display: flex;
  align-items: center;
}

.preload-image svg {
  width: 100px;
  height: auto;
  margin: auto;
  animation: loadMove 1s infinite linear;
}

.store-item .store-item-image-wrapper {
  overflow: hidden;
  position: relative;
}

.store-item img {
  width: 100%;
}

.store-item-custom-label {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 0;
  transform: skewY(-45deg);
  padding: 5px 15% 5px 5%;
  text-align: center;
  white-space: nowrap;
  color: red;
  font-weight: bold;
  background: yellow;
}

.store-item-description {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  margin: 0;
  padding: 10px;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  transition: top linear .3s 1s;
}

.store-item-image-wrapper:hover .store-item-description {
  top: 0;
}

@media all and (min-width: $small-screen) {
  .store-item {
    flex-basis: 50%;
  }
  .store-item-overlay {
    border: 0 solid $primary-color;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }
  .store-item:hover .store-item-overlay {
    border: 10px solid $primary-color;
    background: $primary-color;
    position: absolute;
    z-index: 1;
    opacity: 1;
    box-shadow: #fff 0 1px 13px;
    transition: top  .5s 2s,
      bottom  .5s 2s,
      left  .5s 2s,
      right  .5s 2s,
      box-shadow  .5s 2s,
      border  .5s 2s;

    h4 {
      white-space: nowrap;
      transition: font-size .5s 2s;
      font-size: 48px;
    }
  }
}

@media all and (min-width: $small-screen) and (max-width: $medium-screen) {
  .store-item:nth-of-type(even):hover .store-item-overlay {
    top: -40px;
    right: -85px;
    bottom: -40px;
    left: 5px;
  }
  .store-item:nth-of-type(odd):hover .store-item-overlay {
    top: -40px;
    right: 5px;
    bottom: -40px;
    left: -85px;
  }
}

@media all and (min-width: $medium-screen) {
  .store-item {
    flex-basis: 25%;
  }
  .store-item:nth-of-type(4n + 2):hover .store-item-overlay {
    top: -40px;
    right: -85px;
    bottom: -40px;
    left: 5px;
  }
  .store-item:nth-of-type(4n + 1):hover .store-item-overlay {
    top: -40px;
    right: 5px;
    bottom: -40px;
    left: -85px;
  }
  .store-item:hover .store-item-overlay {
    top: -40px;
    right: -40px;
    bottom: -40px;
    left: -40px;
  }
}
@keyframes loadMove {
  100% {
    transform: rotate(360deg);
  }
}

.show-more {
  flex-basis: 100% !important;
  padding: $medium-padding;
  text-align: center;
  font-size: 2em;
}