<div class="store-wrapper">
    <div class="load-proces {{alreadyLoad}}">
        <div pre-loader></div>
    </div>
    <div class="store-item" ui-sref="goods({_id: ({{'model._id'}}) })" ng-repeat="model in collection">
        <div class="store-item-image-wrapper">
            <span class="store-item-custom-label">Sale</span>
            <img class="item-image" ng-src="{{model.href}}" alt="{{model.alt}}" >
            <p class="store-item-description">{{model.description}}</p>
        </div>
        <h4>{{model.name}}</h4>
    </div>
</div>